.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .addTask input{
  width: 70%;
  height: 4vw;
  background-color: rgb(197, 216, 209);
  border-radius: 2vw;
  border: none;
  font-size: 2vw;
}
.App .addTask button{
  margin: 3vw;
  font-size: 2vw;
  padding: 1vw;
  border-radius: 2vw;
  height: 4vw;
  border: none;
  font-weight: 700;
  background-color: rgb(125, 145, 138);
}
.task{
  display: inline-block;
  padding: 5vw;
  margin: 1vw;
}
.task h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vw;
}
.task button{
  padding: 1vw;
  margin: 1vw;
  font-size: 2vw;
  border-radius: 1vw;
}